/* ResumeView style */

@import '../../../css/mixins';

#my-resume {
  background: white;
  width: 100%;
  min-width: 365px;
  min-height: 100vh;
  overflow-x: hidden;
}

.res-header {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  height: 70vh;
  @media screen and (max-width: 900px) and (min-height: 501px) {
    height: 50vh;
  }
  @media screen and (max-height: 500px) {
    height: 80vh;
  }
  @media print {
    height: 25vh;
  }

  & > div { margin: 0; padding: 0;}

  .head-title {
    display: inline-block;
    height: 5em;
    box-sizing: border-box;
    font-family: UrbanTribe;
    font-size: 3em;
    letter-spacing: .05em;
    line-height: 4;
    text-transform: uppercase;
    @include centerize();

    @media screen and (max-width: 500px) {
      font-size: 1.9em;
    }
  }
  .head-subtitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em;
    letter-spacing: .05em;
    text-align: center;

    @media screen and (max-width: 500px) {
      width: 90%;
      font-size: 1em;
    }
  }
  .dev-name {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-200%, -50%);
    font-size: 1.5em;
    font-weight: 400;
    @media screen and (max-width: 500px) and (min-height: 501px){
      transform: translate(-125%, -75%);
    }
    @media screen and (max-height: 500px) {
      transform: translate(-195%, -135%);
    }
    @media print {
      transform: translate(-195%, -140%);
    }
  }
}

.main-section {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 2em;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  .section-title {
    color: #333;
    font-weight: 400;
    font-size: 1.25em;
    margin: 1em 1em 0;
    flex: 1;
    @media screen and (max-width: 500px) {
      margin: 1em .5em 0;
    }
    @media screen and (min-width: 501px) {
      margin: 1em 2em 0;
    }
  }
  .section-details {
    flex:3;
    padding-right: 1em;
    & > hr:first-child {
      visibility: hidden;
    }
    @media screen and (max-width: 500px) {
      padding-left: 1em;
      & > hr:first-child {
        visibility: visible;
      }
      & > hr:not(:first-child) {
        visibility: hidden;
      }
    }
  }
}

.employer {
  color: #333;
  display: flex;
  box-sizing: border-box;
  @media screen and (max-width: 900px), print {
    flex-direction: column;
  }

  .emp-description {
    flex: 2;
    @media screen and (min-width: 901px) {
      margin-right: .5em;
    }

    .emp-title {
      text-transform: uppercase;
      font-family: UrbanTribe;
      margin-top: 2px;
      margin-bottom: 2px;
    }
    & > a, .emp-name {
      color: black;
      font-weight: bold;
    }
    .emp-details {
      font-weight: 400;
      letter-spacing: .03em;

      .emp-duty {
        margin-bottom: .5em;
      }
    }
  }
  .emp-tech {
    flex: 1;
    font-size: .8em;
    letter-spacing: .02em;
    @media screen and (min-width: 901px) {
      padding: 3em .5em 0;
    }

    .tech-stack {
      font-weight: bold;
      font-size: 1.5em;
    }
    .technologies {
      width: 90%;
      font-size: 1.2em;
      @include centerMargin;
    }
  }
}

.education-details {
  & > hr {visibility: hidden;}
}
.educator {
  color: #333;
  box-sizing: border-box;

  .ed-degree {
    text-transform: uppercase;
    font-family: UrbanTribe;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .ed-details {
    font-weight: 400;
  }
}

#res-footer {
  min-height: 10em;
  background: #BBB;
  color: #222;
  font-size: .67em;
}
