@mixin baseHeader() {
  position: relative;
  background: #333;
  height: 70vh;
  @media screen and (max-width: 900px) and (min-height: 501px) {
    height: 50vh;
  }
  @media screen and (max-height: 500px) {
    height: 80vh;
  }
  @media print {
    height: 25vh;
    color: #444;
  }

  & > div { margin: 0; padding: 0;}
}
